@import url("https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&display=swap");
/* .container {
  background: url("/waitinglist.jpg") no-repeat center center/cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  position: relative;
  font-family: "Albert Sans", sans-serif;
  font-optical-sizing: auto;
}


.container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8); 
  z-index: 1;
} */

/* .overlay {
  position: relative;
  z-index: 2;
  padding: 40px;
  border-radius: 10px;
  max-width: 800px;
}

.title {
  font-size: 42px;
  font-weight: bold;
  color: #d4ff00;
}

.subtitle {
  font-size: 16px;
  margin: 10px 0;
}

.button {
  background: #d4ff00;
  color: black;
  padding: 12px 20px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  margin-top: 15px;
  font-family: "Albert Sans", sans-serif;
  font-optical-sizing: auto;
}

.button:hover {
  background: #c0e000;
}

.signIn {
  margin-top: 10px;
  font-size: 14px;
}

.terms {
  font-size: 12px;
  margin-top: 10px;
}

.terms a {
  color: #d4ff00;
  text-decoration: none;
}

.terms a:hover {
  text-decoration: underline;
} */

.container {
  background: #61204e;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  padding: 20px;
  position: relative;
  font-family: "Albert Sans", sans-serif;
  font-optical-sizing: auto;
  padding-top: 50px;
}

.backButton {
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
}

.progressContainer {
  width: 80%;
  height: 6px;
  background: black;
  position: relative;
  margin-bottom: 20px;
}

.progressBar {
  height: 6px;
  background: white;
  width: 0%;
  transition: width 0.3s ease-in-out;
}

.questionTitle {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #ffffff;
}

.optionsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.optionButton {
  background: white;
  padding: 15px 30px;
  border: 2px solid black;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  min-width: 200px;
  color: #000;
  font-weight: 600;
  font-family: "Albert Sans", sans-serif;
  font-optical-sizing: auto;
}

.optionButton:hover {
  background: #f0f0f0;
}
